<!DOCTYPE html>
<html data-ng-app data-ng-csp>

<head>
    <meta charset="utf-8">
    <script src="window.js"></script>
    <script src="angular/angular.js"></script>
	<script src="jquery/jquery-2.0.3.min.js"></script>
    <script src="jsUri/jsuri-1.1.1.min.js"></script>
    <script src="util.js"></script>
    <script src="ssdp.js"></script>
    <script src="wsd.js"></script>
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet" media="all">
    <link href="app.css" rel="stylesheet">
    <title> </title>
</head>

<body data-ng-controller="ListController">

    <section id="main">
        
      <nav>
        <h2 id='appTitle'>Network Devices</h2>
        <button id='refreshBtn' class="btn" data-ng-click="refresh()">REFRESH</button>
      </nav>
    
      <ul>
        <li data-ng-repeat="device in deviceList">
			<div data-ng-switch="device.presentationUrl">
			  <div id="friendlyName" data-ng-switch-when="">{{device.friendlyName}}</div>
			  <a id="friendlyName" data-ng-switch-default href="{{device.presentationUrl}}" target="_blank">{{device.friendlyName}}</a>
			</div>
			<div>
              <span id="details">{{device.model}} ({{device.manufacturer}})</span>
			  <span id="ip">{{device.ip}}</span>
        	</div>
		</li>
      </ul>
        
    </section>
    
</body>
    
</html>
