<!DOCTYPE html>
<html data-ng-app data-ng-csp>

<head>
    <meta charset="utf-8">
    <script src="window.js"></script>
    <script src="angular/angular.js"></script>
	<script src="jquery/jquery-2.0.3.min.js"></script>
    <script src="jsUri/jsuri-1.1.1.min.js"></script>
    <script src="util.js"></script>
    <script src="ssdp.js"></script>
    <script src="wsd.js"></script>
    <script src="mdns.js"></script>
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet" media="all">
    <link href="app.css" rel="stylesheet">
    <title> </title>
</head>

<body data-ng-controller="ListController">

    <section id="main">
        
      <nav>
        <h4 id='appTitle'>Network Devices</h2>
		<div id='controlsGroup'>
          <button id='showHiddenBtn' class="btn" data-ng-click="showHidden()" accessKey="h" data-toggle="button">SHOW HIDDEN</button>
          <button id='refreshBtn' class="btn btn-default" data-toggle="button" data-ng-click="refresh()" accessKey="r">REFRESH</button>
      	</div>
	  </nav>
    
      <ul>
        <li data-ng-repeat="device in deviceList">
			<div data-ng-switch="device.presentationUrl">
			  <div id="friendlyName" data-ng-switch-when="">{{device.friendlyName}}</div>
			  <div data-ng-switch-default>
                <span id="friendlyName">{{device.friendlyName}}</span>
                <a id="settingsLink" href="{{device.presentationUrl}}" target="_blank" rel="tooltip" title="{{device.presentationUrl}}">Settings</a>
              </div>
<!--			  <div id="friendlyName" data-ng-switch-default href="{{device.presentationUrl}}" target="_blank" rel="tooltip" title="{{device.presentationUrl}}">{{device.friendlyName}}</a>-->
			</div>
			<div>
              <span id="details">{{device.model}} ({{device.manufacturer}})</span>
			  <span id="ip">{{device.ip}}</span>
        	</div>
		</li>
      </ul>
        
    </section>
    
</body>
    
</html>
